body {
    background-color: #f4f6f9;
    font-family: "Segoe UI", sans-serif;
}

h1 {
    text-align: center;
    color: #1f2937;
}

.subtitle {
    text-align: center;
    color: #6b7280;
    margin-bottom: 25px;
    font-size: 16px;
}

.stDataFrame {
    border-radius: 10px;
}
